<body class="gray-bg">
<div class="wrapper wrapper-content animated ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$page_title|default=''}</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <input type="hidden" name="listtype" value="{$listtype}">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" name="create_time" class="form-control w50 daterange-btn" placeholder="选择点评时间">
                                </div>
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> {:lang('搜索')}</button></span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-warning ajaxSearchForm resetForm"><i class="fa fa-recycle"></i> {:lang('重置')}</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-10">
<!--                            <lqf_link><a  class="btn btn-default btn-outline ajax-goto" target-form="form-inline" data-url="{:url('CstComment/download')}"><i class="fa fa-download"></i>{:lang('导出')}</a></lqf_link>-->
                        </div>
                        <div class="col-sm-2 text-right">
                            <a href="javascript:void(0);" class="btn btn-default btn-outline btn-field-set" data-id="{$page_title|default=''}"> <i class="fa fa-columns"></i> {:lang('列')}</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content table-responsive sticky-table">
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('CstComment/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="100" orderField="link_time" class="sort-filed"><span>{:lang('点评时间')}</span></th>
                            <th width="100"><span>{:lang('点评业务')}</span></th>
                            <th width="150"><span>{:lang('点评内容')}</span></th>
                            <th width="100"><span>{:lang('点评人员')}</span></th>
                            <th width="150"><span>{:lang('回复内容')}</span></th>
                            <th width="80" class="text-center">{:lang('操作')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <table class="table ajax-list-table table-page-bar">
                        <tfoot>
                        <tr>
                            <td align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) {
        visible='';
        if(data[i]['visible']=='1') visible='checked';
    %>
    <tr>
        <td><input name="id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['create_time']%></td>
        <td>
            <a class="ajax-open" data-url="<%=data[i]['bus_info']['url']%>">
                <%=data[i]['bus_info']['type']%>
            </a>
        </td>
        <td><%=data[i]['content']%></td>
        <td><%=data[i]['comment_user_name']%></td>
        <td>
            <% for(var j=0;j<data[i]['reply_list'].length;j++) { %>
                <%=data[i]['reply_list'][j]['content']%>
            <% } %>
        </td>
        <td class="text-center">
            <lqf_link><a class="ajax-open" data-url="{:url('CstCommentReply/add')}" data-ids="{'id':'<%=data[i]['id']%>'}" width="400" height="300">{:lang('回复')}</a></lqf_link>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);
    });
</script>